/target
.direnv
node_modules
docs/.vitepress/cache
docs/.vitepress/dist

# Normalize
.normalize/*
!.normalize/config.toml
!.normalize/duplicate-functions-allow
!.normalize/duplicate-types-allow
!.normalize/hotspots-allow
!.normalize/large-files-allow
!.normalize/memory/
